/* .App{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(60, 16, 60), purple, rgb(185, 77, 185), rgb(220, 146, 220), pink);;
  font-family: Arial, Helvetica, sans-serif;
} */